WebApi/.vs/
WebApi/obj/Debug/netcoreapp3.1/WebApi.assets.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.csprojAssemblyReference.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.assets.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.csprojAssemblyReference.cache

WebApi/obj/Debug/netcoreapp3.1/WebApi.assets.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.csprojAssemblyReference.cache
