<div class="veteranContainer">
    <div class="tableBlock">
        weterani oczekujący na zatwierdzenie
        <div class="header">
            <div class="headerElement"> Lp </div>
            <div class="headerElement"> Imię </div>
            <div class="headerElement"> Nazwisko </div>
            <div class="headerElement"> Pesel </div>
            <div class="headerElement"> Akceptuj </div>
            <div class="headerElement"> Akcje </div>
        </div>

        <div *ngFor="let user of users; let i = index" class="data">
            <div class="row">
                <div class="dataElement"> {{i+1}} </div>
                <div class="dataElement"> {{user.firstName}} </div>
                <div class="dataElement"> {{user.lastName}} </div>
                <div class="dataElement"> {{user.pesel}} </div>
                <div class="dataElement"> Akceptuj </div>
                <div class="dataElement"> <button type="button" class="buttonMore" (click)="test(user.id)">Więcej</button></div>
            </div>
            <div class="row2">
                <app-veteran-detail *ngIf="detailVeteran==user.id" [id]=user.id [user]=user></app-veteran-detail>
            </div>
            
        </div>
    </div>
    <div class="tableBlock">
    </div>
</div>