<div class="mainContainer">
    <header class="headerStyle">
        <div class="logo">
            
            <img src="https://www.wojsko-polskie.pl/weterani/u/11/1c/111c0ed2-7384-4bf1-ba32-943a5ccdd091/logo_cw8400x400.png" height="100px" alt="">
                <h2>Miejsca przyjazne weteranom</h2>
        </div>
        <div class="searchPanel">
            <input type="text" placeholder="Znajdź.." name="search" class="searchInput">
            <button type="submit" class="searchButton"><i class=" fas fa-search" ></i></button>
        </div>
    </header>
    <div class="content">
        Miejsca przyjazne weteranom - złoty laur
        <div class="grup">
            <div class="element">
                <img src="assets/laur_gold.png" alt="" class="laur">
                <img src="assets/sklepy/auchuan.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_gold.png" alt="" class="laur">
                <img src="assets/sklepy/cinemaCIty.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_gold.png" alt="" class="laur">
                <img src="assets/sklepy/delfinek.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_gold.png" alt="" class="laur">
                <img src="assets/sklepy/helios.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_gold.png" alt="" class="laur">
                <img src="assets/sklepy/komputrnik.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_gold.png" alt="" class="laur">
                <img src="assets/sklepy/leroyMerlin.png" alt="" class="shop">
            </div>
        </div>
        Miejsca przyjazne weteranom - srebrny laur
        <div class="grup">
            <div class="element">
                <img src="assets/laur_silver.png" alt="" class="laur">
                <img src="assets/sklepy/makro.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_silver.png" alt="" class="laur">
                <img src="assets/sklepy/multikino.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_silver.png" alt="" class="laur">
                <img src="assets/sklepy/orlen.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_silver.png" alt="" class="laur">
                <img src="assets/sklepy/spolem.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_silver.png" alt="" class="laur">
                <img src="assets/sklepy/tesco.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_silver.png" alt="" class="laur">
                <img src="assets/sklepy/zabka.png" alt="" class="shop">
            </div>
        </div>
        Miejsca przyjazne weteranom - brązowy laur
        <div class="grup">
            <div class="element">
                <img src="assets/laur_bronze.png" alt="" class="laur">
                <img src="assets/sklepy/multikino.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_bronze.png" alt="" class="laur">
                <img src="assets/sklepy/zoo.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_bronze.png" alt="" class="laur">
                <img src="assets/sklepy/zooWarszawa.png" alt="" class="shop">
            </div>
            <div class="element">
                <img src="assets/laur_bronze.png" alt="" class="laur">
                <img src="assets/sklepy/ztm.png" alt="" class="shop">
            </div>
        </div>
    </div>
</div>
<div class="plusButton">
    <a routerLink="auth" class="linkToLogin">Dołącz do programu</a>
</div>
