<div class="loginContainer">
    <div class="freePanel">
    </div>
    <div class="loginPanel">
        <form [formGroup]="form" class='elements'>
                <img src="assets/logo.png" alt="" width="200px">
                <input name="email" formControlName="email" placeholder="email">
                <input name="password" formControlName="password" type="password" placeholder="hasło">
                <button class="button button-primary" (click)="login()">Zaloguj</button>
                <!-- <button class="button button-primary" (click)="register()">Zarejestruj</button> -->
        </form>
    </div>
    <div class="newAccountPanel">
Nie masz konta? <a routerLink="/register" class="linkToRegister">Zarejestruj się</a>
    </div>
    <div class="whitePanel">
    </div>
</div>